.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.progress-bar {
  width: 70%;
  margin: auto;
}

.form-container {
  border: 1px solid dodgerblue;
  margin: auto;
  width: 60%;
  padding: 1% 2% 1% 2%;
  border-radius: 1rem;
}
